@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1017884_q85azufl6c.eot');
  src: url('//at.alicdn.com/t/font_1017884_q85azufl6c.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1017884_q85azufl6c.woff2') format('woff2'), url('//at.alicdn.com/t/font_1017884_q85azufl6c.woff') format('woff'), url('//at.alicdn.com/t/font_1017884_q85azufl6c.ttf') format('truetype'), url('//at.alicdn.com/t/font_1017884_q85azufl6c.svg#iconfont') format('svg');
  
  /* project id 1017884 */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
body {
  margin-bottom: 200px;
}
.all-header {
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}
.all-header.header-index {
  background-color: #1B2433;
}
.all-header.header-index .container {
  display: flex;
  flex-direction: row;
}
.all-header.header-index .container .header-logo {
  line-height: 100px;
  width: 160px;
}
.all-header.header-index .container .header-logo .logo-white {
  display: inline-block;
}
.all-header.header-index .container .header-logo .logo-black {
  display: none ;
}
.all-header.header-index .container .header-logo img {
  vertical-align: middle;
}
.all-header.header-index .container .header-nav {
  flex: 1;
}
.all-header.header-index .container .header-nav ul {
  width: 500px;
  margin: 0 auto;
}
.all-header.header-index .container .header-nav ul li {
  float: left;
  line-height: 100px;
  text-align: center;
}
.all-header.header-index .container .header-nav ul li a {
  font-size: 18px;
  color: #fff;
  margin-right: 40px;
  line-height: 100px;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}
.all-header.header-index .container .header-nav ul li a:hover {
  border-bottom: 2px solid #fff;
  font-weight: bold;
}
.all-header.header-index .container .header-regist-login {
  width: 250px;
  line-height: 100px;
}
.all-header.header-index .container .header-regist-login a {
  display: inline-block;
  width: 115px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s;
}
.all-header.header-index .container .header-regist-login a:hover {
  background-color: #2987FF;
  border-color: #2987FF;
}
.all-header.header-index .container .header-regist-login a.login {
  margin-right: 15px;
}
.all-header .container {
  display: flex;
  flex-direction: row;
}
.all-header .container .header-logo {
  line-height: 100px;
  width: 160px;
}
.all-header .container .header-logo .logo-white {
  display: none;
}
.all-header .container .header-logo .logo-black {
  display: inline-block;
}
.all-header .container .header-logo img {
  vertical-align: middle;
}
.all-header .container .header-nav {
  flex: 1;
}
.all-header .container .header-nav ul {
  width: 500px;
  margin: 0 auto;
}
.all-header .container .header-nav ul li {
  float: left;
  line-height: 100px;
  text-align: center;
}
.all-header .container .header-nav ul li a {
  color: #1B2434;
  font-size: 18px;
  margin-right: 40px;
  line-height: 100px;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}
.all-header .container .header-nav ul li a:hover {
  border-bottom: 2px solid #1B2433;
  font-weight: bold;
}
.all-header .container .header-regist-login {
  width: 250px;
  line-height: 100px;
}
.all-header .container .header-regist-login a {
  border: 1px solid #1B2433;
  color: #1B2433;
  display: inline-block;
  width: 115px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;
}
.all-header .container .header-regist-login a:hover {
  background-color: #2987FF;
  border-color: #2987FF;
  color: #fff;
}
.all-header .container .header-regist-login a.login {
  margin-right: 15px;
}
@media (max-width: 767px) {
  .all-header {
    height: 75px;
  }
  .all-header .container .header-logo {
    line-height: 75px;
    width: 100px;
  }
  .all-header .container .header-logo img {
    vertical-align: middle;
  }
  .all-header .container .header-nav {
    flex: 1;
    display: none;
  }
  .all-header .container .header-nav ul {
    width: 500px;
    margin: 0 auto;
  }
  .all-header .container .header-nav ul li {
    float: left;
    line-height: 100px;
    text-align: center;
  }
  .all-header .container .header-nav ul li a {
    font-size: 18px;
    color: #fff;
    margin-right: 40px;
    line-height: 100px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
  }
  .all-header .container .header-nav ul li a:hover {
    border-bottom: 2px solid #fff;
  }
  .all-header .container .header-regist-login {
    display: none;
    width: 250px;
    line-height: 100px;
  }
  .all-header .container .header-regist-login a {
    display: inline-block;
    width: 115px;
    height: 40px;
    border: 1px solid #fff;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s;
  }
  .all-header .container .header-regist-login a:hover {
    background-color: #2987FF;
    border-color: #2987FF;
  }
  .all-header .container .header-regist-login a.login {
    margin-right: 15px;
  }
}
.index-banner {
  background-color: #1B2433;
  height: 640px;
}
.index-banner .container .banner-text {
  float: left;
  margin-top: 150px;
}
.index-banner .container .banner-text .text-area h3 {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
}
.index-banner .container .banner-text .text-area h3.marm50 {
  margin-bottom: 50px;
}
.index-banner .container .banner-text .text-area p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.index-banner .container .banner-text .text-area a {
  margin-top: 50px;
  display: block;
  width: 114px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #2987FF;
  color: #fff;
}
.index-banner .container .banner-img {
  float: right;
  margin-top: 80px;
}
@media (max-width: 767px) {
  .index-banner {
    height: 500px;
  }
  .index-banner .container .banner-text {
    float: none;
    margin-top: 20px;
  }
  .index-banner .container .banner-text .text-area h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .index-banner .container .banner-text .text-area h3.marm50 {
    margin-bottom: 15px;
  }
  .index-banner .container .banner-text .text-area p {
    font-size: 12px;
    line-height: 18px;
  }
  .index-banner .container .banner-text .text-area a {
    margin-top: 20px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
  .index-banner .container .banner-img {
    float: none;
    margin-top: 0px;
  }
  .index-banner .container .banner-img img {
    width: 100%;
  }
}
.index-scenes {
  padding-top: 100px;
  position: relative;
}
.index-scenes h3 {
  font-size: 38px;
  line-height: 38px;
  color: #2B292D;
  font-weight: bold;
  margin-bottom: 35px;
  text-align: center;
}
.index-scenes .position-fix {
  font-size: 16px;
  line-height: 16px;
  color: #2B292D;
  text-align: center;
  position: absolute;
  top: 85px;
  left: 50%;
  -webkit-transform: translate(-50%, 85px);
  transform: translate(-50%, 85px);
}
.index-scenes .index-slide .swiper-button-prev {
  left: 350px;
  background-image: url("../images/zuo.png");
}
.index-scenes .index-slide .swiper-button-next {
  right: 400px;
  background-image: url("../images/you.png");
}
.index-scenes .index-slide .slide-box {
  display: flex;
}
.index-scenes .index-slide .slide-box .img-show {
  width: 400px;
}
.index-scenes .index-slide .slide-box .detail-show {
  padding-top: 70px;
  flex: 1;
  margin-left: 45px;
}
.index-scenes .index-slide .slide-box .detail-show h4 {
  font-size: 38px;
  color: #2B292D;
  line-height: 75px;
  font-weight: bold;
  text-align: left;
  background: url("../images/business-bg.png") no-repeat;
}
.index-scenes .index-slide .slide-box .detail-show h4.holiday {
  background: url("../images/holiday-bg.png") no-repeat;
}
.index-scenes .index-slide .slide-box .detail-show .detail-list {
  margin-top: 45px;
}
.index-scenes .index-slide .slide-box .detail-show .detail-list .box-show {
  margin-bottom: 50px;
}
.index-scenes .index-slide .slide-box .detail-show .detail-list .box-show .box-icon {
  float: left;
}
.index-scenes .index-slide .slide-box .detail-show .detail-list .box-show .box-icon img {
  width: 60px;
  height: 60px;
}
.index-scenes .index-slide .slide-box .detail-show .detail-list .box-show .box-text {
  float: left;
  margin-left: 10px;
}
.index-scenes .index-slide .slide-box .detail-show .detail-list .box-show .box-text p {
  font-size: 16px;
  line-height: 60px;
  color: #2B292D;
}
.index-scenes .index-slide .slide-box .detail-show .more-detail a {
  display: block;
  width: 115px ;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #1B2433;
  font-size: 16px;
  color: #1B2433;
}
@media (max-width: 767px) {
  .index-scenes {
    padding-top: 20px;
  }
  .index-scenes h3 {
    font-size: 19px;
    line-height: 19px;
    margin-bottom: 15px;
  }
  .index-scenes .position-fix {
    font-size: 12px;
    line-height: 16px;
    color: #2B292D;
    text-align: center;
    transform: none;
    position: static;
  }
  .index-scenes .index-slide .slide-box {
    display: block;
  }
  .index-scenes .index-slide .slide-box .img-show {
    width: 100%;
  }
  .index-scenes .index-slide .slide-box .img-show img {
    width: 100%;
  }
  .index-scenes .index-slide .slide-box .detail-show {
    padding-top: 20px;
    margin-left: 0px;
  }
  .index-scenes .index-slide .slide-box .detail-show h4 {
    font-size: 18px;
    line-height: 75px;
    font-weight: bold;
    text-align: center;
    background: url("../images/business-bg.png") no-repeat;
  }
  .index-scenes .index-slide .slide-box .detail-show h4.holiday {
    background: url("../images/holiday-bg.png") no-repeat;
  }
  .index-scenes .index-slide .slide-box .detail-show .detail-list {
    margin-top: 20px;
  }
  .index-scenes .index-slide .slide-box .detail-show .detail-list .box-show {
    margin-bottom: 20px;
  }
  .index-scenes .index-slide .slide-box .detail-show .detail-list .box-show .box-icon {
    float: left;
  }
  .index-scenes .index-slide .slide-box .detail-show .detail-list .box-show .box-icon img {
    width: 45px;
    height: 45px;
  }
  .index-scenes .index-slide .slide-box .detail-show .detail-list .box-show .box-text {
    float: left;
    margin-left: 10px;
  }
  .index-scenes .index-slide .slide-box .detail-show .detail-list .box-show .box-text p {
    font-size: 12px;
    line-height: 45px;
  }
  .index-scenes .index-slide .slide-box .detail-show .more-detail a {
    width: 70px ;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 12px;
  }
}
.index-out {
  margin-top: 100px;
}
.index-out h3 {
  font-size: 38px;
  line-height: 38px;
  color: #2B292D;
  font-weight: bold;
  margin-top: 85px;
  margin-bottom: 30px;
  text-align: center;
}
.index-out h4 {
  font-size: 16px;
  line-height: 16px;
  color: #2B292D;
  text-align: center;
}
.index-out .line-show {
  width: 400px;
  height: 5px;
  background-color: #1B2433;
  margin: 0 auto;
}
.index-out .out-show {
  margin-top: 50px;
  margin-bottom: 130px;
}
.index-out .out-show .out-b-box .out-box {
  height: 415px;
  padding-top: 45px;
  transition: all 0.3s;
}
.index-out .out-show .out-b-box .out-box:hover {
  background: #FFFFFF;
  box-shadow: 0 13px 18px -8px rgba(0, 0, 0, 0.15), 0 11px 55px 10px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}
.index-out .out-show .out-b-box .out-box .inner-box {
  width: 160px;
  margin: 0 auto;
}
.index-out .out-show .out-b-box .out-box .inner-box .out-img {
  margin-bottom: 30px;
}
.index-out .out-show .out-b-box .out-box .inner-box h4 {
  font-size: 16px;
  font-weight: bold;
  color: #2B292D;
  line-height: 16px;
  text-align: center;
  margin-bottom: 5px;
}
.index-out .out-show .out-b-box .out-box .inner-box p {
  font-size: 14px;
  color: #9B9B9B;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 767px) {
  .index-out {
    margin-top: 20px;
  }
  .index-out h3 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .index-out h4 {
    font-size: 12px;
    line-height: 16px;
  }
  .index-out .line-show {
    width: 200px;
    height: 2px;
    background-color: #1B2433;
    margin: 0 auto;
  }
  .index-out .out-show {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .index-out .out-show .out-b-box .out-box {
    height: 300px;
    padding-top: 20px;
  }
  .index-out .out-show .out-b-box .out-box .inner-box {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .index-out .out-show .out-b-box .out-box .inner-box .out-img {
    margin-bottom: 20px;
  }
  .index-out .out-show .out-b-box .out-box .inner-box h4 {
    font-size: 16px;
    line-height: 16px;
  }
  .index-out .out-show .out-b-box .out-box .inner-box p {
    font-size: 12px;
  }
}
.index-service {
  margin-top: 100px;
  padding-bottom: 100px;
}
.index-service h3 {
  font-size: 38px;
  color: #2B292D;
  letter-spacing: -0.34px;
  text-align: center;
  line-height: 38px;
  font-weight: bold;
}
.index-service .service-link {
  width: 270px;
  margin: 50px auto;
}
.index-service .service-link a {
  width: 116px;
  height: 40px;
  display: block;
  border: 1px solid #1B2433;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #1B2433;
  font-weight: bold;
}
.index-service .service-link a.link-left {
  float: left;
}
.index-service .service-link a.link-right {
  float: right;
}
.index-service .service-show .service-box {
  border: 1px solid rgba(43, 41, 45, 0.2);
  height: 240px;
  border-radius: 8px;
  padding-top: 50px;
  padding-left: 60px;
  transition: all 0.3s;
}
.index-service .service-show .service-box:hover {
  background: #FFFFFF;
  box-shadow: 0 13px 18px -8px rgba(0, 0, 0, 0.15), 0 11px 55px 10px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  border: 1px solid transparent;
}
.index-service .service-show .service-box .img-box {
  float: left;
}
.index-service .service-show .service-box .text-show {
  float: left;
  margin-left: 80px;
}
.index-service .service-show .service-box .text-show h4 {
  font-size: 18px;
  line-height: 24px;
  color: #2B292D;
  font-weight: bold;
  margin-bottom: 10px;
}
.index-service .service-show .service-box .text-show p {
  font-size: 14px;
  color: #2B292D;
  line-height: 24px;
}
@media (max-width: 767px) {
  .index-service {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .index-service h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .index-service .service-link {
    width: 200px;
    margin: 30px auto;
  }
  .index-service .service-link a {
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .index-service .service-link a.link-left {
    float: left;
  }
  .index-service .service-link a.link-right {
    float: right;
  }
  .index-service .service-show .service-box {
    border: 1px solid rgba(43, 41, 45, 0.2);
    height: 240px;
    padding-top: 50px;
    padding-left: 30px;
    margin-bottom: 20px;
  }
  .index-service .service-show .service-box .img-box {
    float: left;
  }
  .index-service .service-show .service-box .img-box img {
    width: 50px;
    height: 82px;
  }
  .index-service .service-show .service-box .text-show {
    float: left;
    margin-left: 20px;
    width: 270px;
  }
  .index-service .service-show .service-box .text-show h4 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .index-service .service-show .service-box .text-show p {
    font-size: 14px;
    color: #2B292D;
    line-height: 24px;
  }
}
.index-partner {
  background-color: rgba(0, 161, 198, 0.07);
  padding-top: 60px;
  padding-bottom: 20px;
}
.index-partner h3 {
  font-size: 38px;
  color: #2B292D;
  text-align: center;
  line-height: 38px;
  font-weight: bold;
}
.index-partner h4 {
  font-size: 14px;
  color: #9B9B9B;
  text-align: center;
  line-height: 14px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.index-partner .img-box {
  height: 61px;
  margin-bottom: 40px;
  position: relative;
}
.index-partner .img-box img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .index-partner {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .index-partner h3 {
    font-size: 20px;
    line-height: 20px;
  }
  .index-partner h4 {
    font-size: 12px;
    line-height: 14px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .index-partner .img-box {
    height: 61px;
    margin-bottom: 10px;
    position: relative;
  }
  .index-partner .img-box img {
    display: inline-block;
    position: static;
    transform: none;
    vertical-align: middle;
  }
}
.index-client {
  padding-top: 100px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.index-client .container {
  overflow: hidden;
}
.index-client h3 {
  font-size: 38px;
  color: #2B292D;
  text-align: center;
  line-height: 38px;
  font-weight: bold;
  margin-bottom: 50px;
}
.index-client .show-client .logo-box {
  height: 75px;
  position: relative;
}
.index-client .show-client .logo-box img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.index-client h4 {
  margin-top: 75px;
  font-size: 24px;
  color: #3142C6;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}
.index-client .client-slide {
  position: relative;
  padding-bottom: 100px;
}
.index-client .client-slide .swiper-pagination-bullets {
  bottom: 50px;
}
.index-client .client-slide .client-slide-box p {
  font-size: 18px;
  width: 750px;
  margin: 0 auto;
  color: #2B292D;
  text-align: center;
  line-height: 34px;
  margin-top: 40px;
  margin-bottom: 80px;
}
.index-client .client-slide .client-slide-box h5 {
  font-size: 16px;
  color: #2B292D;
  line-height: 24px;
  text-align: center;
}
.index-client .client-slide .client-slide-box h6 {
  font-size: 16px;
  color: rgba(43, 41, 45, 0.6);
  line-height: 24px;
  text-align: center;
}
@media (max-width: 767px) {
  .index-client {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .index-client .container {
    overflow: hidden;
  }
  .index-client h3 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .index-client .show-client .logo-box {
    height: 75px;
    position: relative;
  }
  .index-client h4 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 30px;
  }
  .index-client .client-slide {
    position: relative;
    padding-bottom: 20px;
  }
  .index-client .client-slide .client-slide-box p {
    font-size: 12px;
    width: 350px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .index-client .client-slide .client-slide-box h5 {
    font-size: 12px;
    line-height: 24px;
  }
  .index-client .client-slide .client-slide-box h6 {
    font-size: 10px;
    line-height: 20px;
  }
}
.index-experience {
  margin-top: 100px;
  padding-bottom: 100px;
}
.index-experience h3 {
  font-size: 56px;
  color: #2B292D;
  text-align: center;
  line-height: 56px;
  font-weight: bold;
}
.index-experience p {
  font-size: 24px;
  color: #2B292D;
  text-align: center;
  line-height: 34px;
}
.index-experience .infor {
  width: 750px;
  margin: 50px auto 40px auto;
}
.index-experience .infor input {
  height: 80px;
  margin-bottom: 20px;
}
.index-experience .sub a {
  background: #1B2433;
  display: block;
  width: 245px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 767px) {
  .index-experience {
    margin-top: 20px;
    padding-bottom: 30px;
  }
  .index-experience h3 {
    font-size: 25px;
    line-height: 56px;
  }
  .index-experience p {
    font-size: 16px;
    line-height: 24px;
  }
  .index-experience .infor {
    width: 400px;
    margin: 30px auto 20px auto;
  }
  .index-experience .infor input {
    height: 50px;
    margin-bottom: 10px;
    width: 385px;
  }
  .index-experience .sub a {
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
}
.index-download {
  background-color: #F4F5F7;
  height: 350px;
}
.index-download .show-bg {
  background: url("../images/download-bg.png") no-repeat;
  background-position: 740px 0px;
  height: 350px;
}
.index-download .show-bg .evm-show {
  float: left;
  height: 350px;
}
.index-download .show-bg .evm-show .evm-box {
  height: 350px;
}
.index-download .show-bg .evm-show .evm-box img {
  margin-top: 75px;
}
.index-download .show-bg .text-show {
  float: left;
  height: 350px;
  margin-left: 50px;
}
.index-download .show-bg .text-show .text-all {
  margin-top: 120px;
}
.index-download .show-bg .text-show .text-all h3 {
  font-size: 50px;
  color: #2B292D;
  line-height: 50px;
  margin-bottom: 25px;
  font-weight: bold;
}
.index-download .show-bg .text-show .text-all h4 {
  font-size: 24px;
  color: #2B292D;
  line-height: 24px;
}
@media (max-width: 767px) {
  .index-download {
    height: 200px;
    overflow: hidden;
  }
  .index-download .show-bg {
    background: url("../images/download-bg.png") no-repeat;
    background-position: -200% 50%;
    height: 350px;
  }
  .index-download .show-bg .evm-show {
    float: left;
    height: 200px;
  }
  .index-download .show-bg .evm-show .evm-box {
    height: 100px;
    width: 100px;
    margin-top: 50px;
  }
  .index-download .show-bg .evm-show .evm-box img {
    width: 100%;
    margin-top: 0px;
  }
  .index-download .show-bg .text-show {
    float: left;
    height: 200px;
    margin-left: 10px;
  }
  .index-download .show-bg .text-show .text-all {
    margin-top: 60px;
  }
  .index-download .show-bg .text-show .text-all h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .index-download .show-bg .text-show .text-all h4 {
    font-size: 16px;
    line-height: 24px;
  }
}
.all-footer {
  padding-top: 30px;
}
.all-footer .footer-top {
  border-bottom: 1px solid rgba(43, 41, 45, 0.1);
}
.all-footer .footer-top .footer-show .show-intro {
  float: left;
  width: 360px;
}
.all-footer .footer-top .footer-show .show-intro .logo-box {
  margin-bottom: 30px;
}
.all-footer .footer-top .footer-show .show-intro .text-intro p {
  font-size: 17px;
  color: #979797;
  line-height: 25px;
}
.all-footer .footer-top .footer-show .show-intro .download-link {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 40px;
}
.all-footer .footer-top .footer-show .show-intro .download-link a img {
  height: 40px;
  margin-right: 30px;
}
.all-footer .footer-top .footer-show .show-list {
  float: left;
  margin-left: 120px;
  padding-top: 20px;
}
.all-footer .footer-top .footer-show .show-list .show-item {
  float: left;
  margin-right: 220px;
}
.all-footer .footer-top .footer-show .show-list .show-item p {
  font-size: 22px;
  color: #2B292D;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 20px;
}
.all-footer .footer-top .footer-show .show-list .show-item ul li a {
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
  line-height: 30px;
}
.all-footer .footer-bot .footer-bot-show {
  padding-top: 20px;
}
.all-footer .footer-bot .footer-bot-show .bot-left {
  float: left;
}
.all-footer .footer-bot .footer-bot-show .bot-left a {
  font-size: 14px;
  color: rgba(43, 41, 45, 0.6);
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 20px;
}
.all-footer .footer-bot .footer-bot-show .bot-right {
  float: right;
}
.all-footer .footer-bot .footer-bot-show .bot-right a {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .all-footer {
    padding-top: 20px;
  }
  .all-footer .footer-top {
    border-bottom: 1px solid rgba(43, 41, 45, 0.1);
  }
  .all-footer .footer-top .footer-show .show-intro {
    float: none;
    width: auto;
  }
  .all-footer .footer-top .footer-show .show-intro .logo-box {
    margin-bottom: 10px;
  }
  .all-footer .footer-top .footer-show .show-intro .text-intro p {
    font-size: 12px;
    line-height: 16px;
  }
  .all-footer .footer-top .footer-show .show-intro .download-link {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
  }
  .all-footer .footer-top .footer-show .show-intro .download-link a img {
    height: 30px;
    margin-right: 60px;
  }
  .all-footer .footer-top .footer-show .show-list {
    float: none;
    margin-left: 0px;
    padding-top: 0px;
  }
  .all-footer .footer-top .footer-show .show-list .show-item {
    float: left;
    margin-right: 115px;
  }
  .all-footer .footer-top .footer-show .show-list .show-item p {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0px;
  }
  .all-footer .footer-top .footer-show .show-list .show-item ul li a {
    font-size: 12px;
    line-height: 20px;
  }
  .all-footer .footer-bot .footer-bot-show {
    padding-top: 10px;
  }
  .all-footer .footer-bot .footer-bot-show .bot-left {
    float: left;
  }
  .all-footer .footer-bot .footer-bot-show .bot-left a {
    font-size: 12px;
    line-height: 12px;
    margin-right: 10px;
  }
  .all-footer .footer-bot .footer-bot-show .bot-right {
    float: right;
  }
  .all-footer .footer-bot .footer-bot-show .bot-right a {
    margin-left: 10px;
  }
}
.main-detail {
  padding-top: 70px;
  padding-bottom: 135px;
}
.main-detail .left-line {
  float: left;
  width: 100px;
  height: 5px;
  background-color: #1B2433;
  margin-top: 7px;
}
.main-detail .show-jobs {
  float: left;
  margin-left: 25px;
}
.main-detail .show-jobs .job-mail p {
  font-size: 16px;
  color: #2B292D;
  line-height: 16px;
}
.main-detail .show-jobs h3 {
  font-size: 38px;
  color: #2B292D;
  letter-spacing: -0.34px;
  line-height: 38px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
.main-detail .show-jobs h4 {
  font-size: 18px;
  line-height: 24px;
  color: #2B292D;
  font-weight: bold;
}
.main-detail .show-jobs h5 {
  font-size: 14px;
  color: #2B292D;
  line-height: 28px;
  font-weight: bold;
}
.main-detail .show-jobs p {
  font-size: 14px;
  line-height: 28px;
  color: #9B9B9B;
}
.main-detail .show-jobs .mart-30 {
  margin-top: 30px;
}
.main-detail .show-about {
  float: left;
  margin-left: 25px;
}
.main-detail .show-about .about-head p {
  font-size: 16px;
  color: #2B292D;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 0px;
}
.main-detail .show-about h3 {
  font-size: 38px;
  color: #2B292D;
  line-height: 38px;
  font-weight: bold;
  margin-top: 30px;
}
.main-detail .show-about p {
  font-size: 16px;
  width: 910px;
  color: #2B292D;
  text-align: justify;
  line-height: 24px;
  margin-top: 30px;
}
.main-detail .show-out {
  float: left;
  margin-left: 25px;
}
.main-detail .show-out .out-all .out-head p {
  font-size: 16px;
  color: #2B292D;
  letter-spacing: 0;
  line-height: 16px;
}
.main-detail .show-out .out-all h3 {
  font-size: 38px;
  color: #2B292D;
  letter-spacing: -0.34px;
  line-height: 38px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
}
.main-detail .show-out .out-all .out-list .out-box {
  margin-bottom: 90px;
}
.main-detail .show-out .out-all .out-list .out-box.box-last {
  margin-bottom: 0px;
}
.main-detail .show-out .out-all .out-list .out-box .box-left {
  float: left;
  width: 60px;
  height: 60px;
}
.main-detail .show-out .out-all .out-list .out-box .box-left img {
  width: 100%;
}
.main-detail .show-out .out-all .out-list .out-box .box-right {
  float: left;
  margin-left: 10px;
  width: 420px;
}
.main-detail .show-out .out-all .out-list .out-box .box-right h4 {
  font-size: 16px;
  line-height: 24px;
  color: #2B292D;
  font-weight: bold;
}
.main-detail .show-out .out-all .out-list .out-box .box-right p {
  font-size: 16px;
  line-height: 24px;
  color: #2B292D;
}
.main-detail .show-out .out-all .out-list .out-box .box-right p.show-mid {
  line-height: 60px;
}
@media (max-width: 767px) {
  .main-detail {
    padding-top: 30px;
    padding-bottom: 35px;
  }
  .main-detail .left-line {
    width: 40px;
    height: 2px;
    background-color: #1B2433;
    margin-top: 0px;
  }
  .main-detail .show-jobs {
    float: left;
    margin-left: 50px;
  }
  .main-detail .show-jobs .job-mail p {
    font-size: 12px;
    line-height: 12px;
  }
  .main-detail .show-jobs h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .main-detail .show-jobs h4 {
    font-size: 12px;
    line-height: 18px;
  }
  .main-detail .show-jobs h5 {
    font-size: 10px;
    line-height: 20px;
  }
  .main-detail .show-jobs p {
    font-size: 10px;
    line-height: 20px;
  }
  .main-detail .show-jobs .mart-30 {
    margin-top: 20px;
  }
  .main-detail .show-about {
    float: left;
    margin-left: 50px;
  }
  .main-detail .show-about .about-head p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 0px;
  }
  .main-detail .show-about h3 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
  }
  .main-detail .show-about p {
    font-size: 12px;
    width: 330px;
    line-height: 20px;
    margin-top: 10px;
  }
  .main-detail .show-out {
    float: left;
    margin-left: 20px;
  }
  .main-detail .show-out .out-all {
    margin-bottom: 50px;
  }
  .main-detail .show-out .out-all .out-head p {
    font-size: 12px;
    line-height: 12px;
  }
  .main-detail .show-out .out-all h3 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-detail .show-out .out-all .out-list .out-box {
    margin-bottom: 40px;
  }
  .main-detail .show-out .out-all .out-list .out-box.box-last {
    margin-bottom: 0px;
  }
  .main-detail .show-out .out-all .out-list .out-box .box-left {
    float: left;
    width: 30px;
    height: 30px;
  }
  .main-detail .show-out .out-all .out-list .out-box .box-left img {
    width: 100%;
  }
  .main-detail .show-out .out-all .out-list .out-box .box-right {
    float: left;
    margin-left: 10px;
    width: 250px;
  }
  .main-detail .show-out .out-all .out-list .out-box .box-right h4 {
    font-size: 12px;
    line-height: 18px;
  }
  .main-detail .show-out .out-all .out-list .out-box .box-right p {
    font-size: 10px;
    line-height: 15px;
  }
  .main-detail .show-out .out-all .out-list .out-box .box-right p.show-mid {
    line-height: 30px;
  }
}
.to-top img {
  position: fixed;
  display: block;
  right: 26px;
  bottom: 30px;
}
